// colors
$white: #fff;
$black: #000;
$lightBlue: #46a2ca;
$textGrayTwo: #415165;

$blue: #3290bb;
$menuBlue: #197ba7;
$menuBlueIcons: #56add5;
$menuBlueIconsBorder: #288bb7;
$tourBlue: #318fba;
$darkBlue: #114b74;
$textGray: #323f50;
$titleBorder: #979797;
$footerGray: #dde1e5;
$footerHover: #b4b7b9;
$orange: #e8a035;
$darkOrange: #e08959;
$btnOrange: linear-gradient(136deg, #e8a035 0%, #e08959 100%);
$btnOrangeWebkit: -webkit-linear-gradient(136deg, #e8a035 0%, #e08959 100%);
$btnOrangeHover: linear-gradient(136deg, #e8a035 0%, #dd7238 100%);
$btnOrangeHoverWebkit: -webkit-linear-gradient(136deg, #e8a035 0%, #dd7238 100%);
$btnShadow: 0 7px 14px rgba(232, 160, 53, 0.33);
$boxShadow: 0 2px 11px rgba(31, 31, 38, 0.22);
$copyrightGray: #e5f6ff;
$iconBorder: hsla(198, 90%, 68%, 0.2);
$tourBoxShadow: 0 2px 20px rgba(0, 0, 0, 0.1);
$bikingTourIconBG: linear-gradient(152deg, #edd238 0%, #6fa684 100%);
$bikingTourIconBoxShadow: 0 6px 13px rgba(111, 166, 132, 0.36);

$segwayTourIconBG: linear-gradient(154deg, #fff099 0%, #ecc738 100%);
$segwayTourIconBoxShadow: 0 6px 13px rgba(222, 187, 55, 0.36);
$walkingTourIconBG: linear-gradient(143deg, #6fb7d6 0%, #a067b8 100%);
$walkingTourIconBoxShadow: 0 6px 13px rgba(160, 103, 184, 0.36);
$filterHover: #edeff2;
$calendarDay: #212b35;
$calendarActive: #57b1db;
$calendarMonth: #606b77;
$calendar2ndRow: #b4bac0;
$bgGrey: #f7f7f7;
