/* SIGN UP */

.footer-title {
  font-weight: 700;
  padding: 20px;
}

.footer-description {
  font-size: 16px;
  padding: 0 20px;
}

.footer-social-title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 30px;
}

.footer-social {
  text-align: center;

  i {
    font-size: 19px;
  }
}

.author {
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}
