/* SIGN UP */

.footer-title {
  font-weight: 700;
  padding: 20px;
}

.footer-description {
  font-size: 16px;
  padding: 0 20px;
}

.footer-social-title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 30px;
}

.footer-social {
  text-align: center;

  i {
    font-size: 19px;
  }
}

.author {
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}

.to_top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  opacity: 0.5;
  background-image: url(../assets/images/parte-superior.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.35s;
}

.to_top:hover {
  opacity: 1;
}
